<div class="container mt-5" style="max-width: 550px;">
  <div>
    <div class="form-group">
      <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="query" id="listSearch">
    </div>
  </div>
  
  <div class="row row-cols-1 g-2">
    <div class="col" *ngFor="let hospitals of dataset | searchFilter: query">
      <div class="card" style="background-color: lavender;">
        <div class="card-body">
          <h5 class="card-title">{{hospitals.name}}, {{hospitals.city}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{hospitals.state}}</h6>
          <ul class="list-group">
            <li class="list-group-item">Ownership - {{hospitals.ownership}}</li>
            <li class="list-group-item">Number of Beds - {{hospitals.hospitalBeds}}</li>
            <li class="list-group-item">Admission Capacity - {{hospitals.admissionCapacity}}</li>
          </ul>
          <a href="https://google.co.in/search?q={{hospitals.name}}" class="card-link">Search for Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
