<div class="container mt-5" style="max-width: 550px;">
  <div>
    <div class="form-group">
      <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="query" id="listSearch">
    </div>
  </div>
  
  <div class="row row-cols-1 g-2">
    <div class="col" *ngFor="let d of doctors | searchFilter: query">
      <div class="card" style="background-color: lavender;">
        <div class="card-body">
          <h5 class="card-title">{{d.doctorName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Reg No.: {{d.doctorRegistrationNo}}</h6>
          <ul class="list-group">
            <li class="list-group-item">Phone No - {{d.phoneNo}}</li>
            <li class="list-group-item">Degree - {{d.degree}}</li>
            <li class="list-group-item">Category - {{d.category}}</li>
            <li class="list-group-item">Timings - {{d.timings}}</li>
            <li class="list-group-item">Place - {{d.place}}</li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</div>
